@media screen and (max-width:768px) {
    .header-logo img {
        margin-top: 50px;
        width: 70%;
    }
    .header-content {
        display: none;
    }
    .header-content:before {
        border-bottom: 100px solid #ea1e00;
        border-right: 84px solid transparent;
        border-left: 5px solid #ea1e00;
    }
    .track-form-content {
        top: 0px;
    }
    .track-form-content .track-form-wrapper label {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .explore-btn {
        margin-top: 15px;
        margin: 0 auto;
        text-align: center;
    }
    .about-desc {
        position: absolute;
        top: 34px;
        left: 30px;
        max-width: 150px;
    }
    .about-shape {
        position: absolute;
        top: 0px;
        left: 156px;
    }
    .about-desc h3 {
        font-size: 10px;
        color: #00044b;
        font-weight: 700;
    }
    .about-desc h3 span {
        font-size: 14px;
    }
    .about-desc p {
        margin-bottom: 0rem;
        font-size: 10px;
    }
    .about .container .row .col-md-6 {
        width: 100% !important;
    }
    .slider-desc {
        margin-top: 12px;
    }
    .slider-desc h1 {
        padding-left: 26px;
        font-size: 10px;
        text-transform: uppercase;
    }
    .slider-desc p {
        font-size: 10px;
        padding-left: 26px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .slider-btn-service-inner {
        margin-left: 0px;
    }
    .slider-desc a {
        padding: 4px 18px;
        margin-left: 3px;
        display: inline-block;
        font-size: 10px;
        width: 100px;
    }
}

@media screen and (min-width:320px) and (max-width:480px) {
    .header-logo img {
        margin-top: 50px;
        width: 70%;
    }
    .header-content {
        display: none;
    }
    .header-content:before {
        border-bottom: 100px solid #ea1e00;
        border-right: 84px solid transparent;
        border-left: 5px solid #ea1e00;
    }
    .track-form-content {
        top: 0px;
    }
    .track-form-content .track-form-wrapper label {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .explore-btn {
        margin-top: 15px;
        margin: 0 auto;
        text-align: center;
    }
    .about-desc {
        top: 24px;
        left: 46px;
        max-width: 129px;
    }
    .about-shape {
        position: absolute;
        top: 0px;
        left: 156px;
    }
    .about-desc h3 {
        font-size: 12px;
        color: #00044b;
        font-weight: 700;
    }
    .about-desc h3 span {
        font-size: 16px;
    }
    .about-desc p {
        margin-bottom: 0rem;
        font-size: 10px;
    }
    .about .container .row .col-md-6 {
        width: 100% !important;
    }
    .slider-desc {
        margin-top: 12px;
    }
    .slider-desc h1 {
        padding-left: 5px;
        font-size: 10px;
        text-transform: uppercase;
    }
    .slider-desc p {
        font-size: 10px;
        padding-left: 5px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .slider-btn-service-inner {
        margin-left: 0px;
    }
    .slider-desc a {
        padding: 4px 18px;
        margin-left: 3px;
        display: inline-block;
        font-size: 10px;
        width: 100px;
    }
}

@media screen and (min-width:820px) and (max-width:1180px) {
    .header-logo img {
        margin-top: 50px;
        width: 70%;
    }
    .header-content {
        display: none;
        padding-left: 1rem!important;
    }
    .header-content:before {
        border-bottom: 100px solid #ea1e00;
        border-right: 84px solid transparent;
        border-left: 5px solid #ea1e00;
    }
    .track-form-content {
        top: 0px;
    }
    .track-form-content .track-form-wrapper label {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .explore-btn {
        margin: 15px auto;
        text-align: center;
    }
    .about-desc {
        position: absolute;
        top: 34px;
        left: 30px;
        max-width: 150px;
    }
    .about-shape {
        position: absolute;
        top: 0px;
        left: 350px;
    }
    .about-desc h3 {
        font-size: 10px;
        color: #00044b;
        font-weight: 700;
    }
    .about-desc h3 span {
        font-size: 16px;
    }
    .about-desc p {
        margin-bottom: 0rem;
        font-size: 10px;
    }
    .about-details-inner {
        padding: 0px 10px;
    }
    .about-details-inner .sub-title {
        font-size: 18px;
    }
    .about-details-inner h2 {
        font-size: 14px;
        line-height: normal;
        padding: 3px 0px 3px;
    }
    .about-details-inner p {
        font-size: 12px;
    }
    .about-service-desc {
        padding: 0px 8px;
    }
    .about-service-desc p {
        margin-bottom: 0;
    }
    .about .container .row .col-md-6 {
        width: 100% !important;
    }
    .slider-desc {
        margin-top: 70px;
    }
    .slider-desc h1 {
        padding-left: 26px;
        font-size: 14px;
        text-transform: uppercase;
    }
    .slider-desc p {
        font-size: 12px;
        padding-left: 25px;
    }
    .slider-btn-service-inner {
        margin-left: 20px;
    }
    .slider-desc a {
        padding: 5px 20px;
        display: inline-block;
        font-size: 12px;
        width: 100px;
    }
    /* .slider-btn-service-inner {
    margin-left: 0px;
    }
    .slider-desc a {
    padding: 4px 18px;
    margin-left: 3px;
    display: inline-block;
    font-size: 10px;
    width: 100px;
    }
    */
}